@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 30;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  font-family: var(--font-sans);
}

@utility glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}